mcs/class/Mono.Globalization/Data/CultureInfo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CultureInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Calendar" type="xs:string" />
        <xs:element name="CompareInfo">
          <xs:complexType>
            <xs:attribute name="LCID" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="DateTimeFormat">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UniversalSortableDateTimePattern" type="xs:string" />
              <xs:element name="SortableDateTimePattern" type="xs:string" />
              <xs:element name="RFC1123Pattern" type="xs:string" />
              <xs:element name="CalendarWeekRule" type="xs:string" />
              <xs:element name="Calendar" type="xs:string" />
              <xs:element name="FirstDayOfWeek" type="xs:string" />
              <xs:element name="FullDateTimePattern" type="xs:string" />
              <xs:element name="YearMonthPattern" type="xs:string" />
              <xs:element name="MonthDayPattern" type="xs:string" />
              <xs:element name="LongTimePattern" type="xs:string" />
              <xs:element name="ShortTimePattern" type="xs:string" />
              <xs:element name="ShortDatePattern" type="xs:string" />
              <xs:element name="LongDatePattern" type="xs:string" />
              <xs:element name="TimeSeparator" type="xs:string" />
              <xs:element name="DateSeparator" type="xs:string" />
              <xs:element name="PMDesignator" type="xs:string" />
              <xs:element name="AMDesignator" type="xs:string" />
              <xs:element name="MonthNames">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="12" maxOccurs="12" name="MonthName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DayNames">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="7" maxOccurs="7" name="DayName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AbbreviatedMonthNames">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="12" maxOccurs="12" name="AbbreviatedMonthName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AbbreviatedDayNames">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="7" maxOccurs="7" name="AbbreviatedDayName" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DisplayNames">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DisplayName" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="lang" type="xs:language" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EnglishName" type="xs:string" />
        <xs:element name="LCID" type="xs:unsignedShort" />
        <xs:element name="Name" type="xs:string" />
        <xs:element name="NativeName" type="xs:string" />
        <xs:element name="NumberFormat">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PositiveSign" type="xs:string" />
              <xs:element name="PositiveInfinitySymbol" type="xs:string" />
              <xs:element name="PerMilleSymbol" type="xs:string" />
              <xs:element name="PercentSymbol" type="xs:string" />
              <xs:element name="PercentPositivePattern" type="xs:unsignedByte" />
              <xs:element name="PercentNegativePattern" type="xs:unsignedByte" />
              <xs:element name="PercentGroupSizes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="PercentGroupSize" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PercentGroupSeparator" type="xs:string" />
              <xs:element name="PercentDecimalSeparator" type="xs:string" />
              <xs:element name="PercentDecimalDigits" type="xs:unsignedByte" />
              <xs:element name="NumberNegativePattern" type="xs:unsignedByte" />
              <xs:element name="NumberGroupSizes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="NumberGroupSize" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="NumberGroupSeparator" type="xs:string" />
              <xs:element name="NumberDecimalSeparator" type="xs:string" />
              <xs:element name="NumberDecimalDigits" type="xs:unsignedByte" />
              <xs:element name="NegativeSign" type="xs:string" />
              <xs:element name="NegativeInfinitySymbol" type="xs:string" />
              <xs:element name="NaNSymbol" type="xs:float" />
              <xs:element name="CurrencySymbol" type="xs:string" />
              <xs:element name="CurrencyPositivePattern" type="xs:unsignedByte" />
              <xs:element name="CurrencyNegativePattern" type="xs:unsignedByte" />
              <xs:element name="CurrencyGroupSizes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CurrencyGroupSize" type="xs:unsignedByte" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CurrencyGroupSeparator" type="xs:string" />
              <xs:element name="CurrencyDecimalSeparator" type="xs:string" />
              <xs:element name="CurrencyDecimalDigits" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OptionalCalendars">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Calendar" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Parent" type="xs:string" />
        <xs:element name="TextInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ANSICodePage" type="xs:unsignedShort" />
              <xs:element name="EBCDICCodePage" type="xs:unsignedShort" />
              <xs:element name="ListSeparator" type="xs:string" />
              <xs:element name="MacCodePage" type="xs:unsignedShort" />
              <xs:element name="OEMCodePage" type="xs:unsignedShort" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ThreeLetterISOLanguageName" type="xs:string" />
        <xs:element name="TwoLetterISOLanguageName" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>