mcs/class/Commons.Xml.Relaxng/Test/XmlFiles/nvdl.nvdl

<?xml version="1.0"?>
<!-- $Id: nvdl.nvdl,v 1.2 2004/05/30 14:37:33 makoto Exp $ -->
<!--

  Inline schemas in NVDL schemas are explicitly allowed by nvdl.rnc.
  This schema allows other 
-->
<rules startMode="root" xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0">
    <mode name="root">
        <namespace ns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0">
            <validate schema="nvdl.rng">
                <mode>
                    <namespace ns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" match="attributes">
                        <reject/>
                    </namespace>
                    <!--  If we do not allow attribute sections for null URIs, we do not need 
      the following <namespace>  -->
                    <namespace ns="" match="attributes">
                        <attach/>
                    </namespace>
                    <anyNamespace match="elements attributes">
                         <!-- This action allows any foreign elements and attributes silently.  -->
                        <allow>
                            <mode>
                                <anyNamespace>
                                    <attach/>
                                </anyNamespace>
                            </mode>
                        </allow>
                    </anyNamespace>
                </mode>
                <context path="schema">
                    <mode>
                        <namespace ns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" match="attributes">
                            <reject/>
                        </namespace>
                        <namespace ns="" match="attributes">
                            <attach/>
                        </namespace>
                        <anyNamespace match="attributes">
                            <allow/>
                        </anyNamespace>
                        <anyNamespace match="elements">
                            <!-- This action allows the entire subtree to be validated against nvdl.rnc.  -->
                            <attach>
                                <mode>
                                    <anyNamespace>
                                        <attach/>
                                    </anyNamespace>
                                </mode>
                            </attach>
                        </anyNamespace>
                        <!--  If we do not allow attribute sections for null URIs, we do not need 
      the following <namespace>  -->
                    </mode>
                </context>
                <context path="message">
                    <mode>
                        <namespace ns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0" match="attributes">
                            <reject/>
                        </namespace>
                        <!--  If we do not allow attribute sections for null URIs, we do not need 
      the following <namespace>  -->
                        <namespace ns="" match="attributes">
                            <attach/>
                        </namespace>
                        <namespace ns="http://www.w3.org/XML/1998/namespace" match="attributes">
                            <!-- This action allows xml:* to be validated against ndvl.rnc. -->
                            <attach/>
                        </namespace>
                        <anyNamespace match="attributes">
                            <allow/>
                        </anyNamespace>
                        <anyNamespace match="elements">
                            <reject/>
                        </anyNamespace>
                    </mode>
                </context>
            </validate>
        </namespace>
    </mode>
</rules>
