mcs/doctools/MonoDocStub.DTD

<!ELEMENT assembly (class)>
<!ELEMENT class (name,inherit,inheritfull,attribute*,member*)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT inherit (#PCDATA)>
<!ELEMENT inheritfull (#PCDATA)>
<!ELEMENT attribute (#PCDATA)>
<!ELEMENT member (name,type,attribute*,return,inherit,inheritfull,param*,property*)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT attribute (#PCDATA)>
<!ELEMENT return (#PCDATA)>
<!ELEMENT inherit (#PCDATA)>
<!ELEMENT inheritfull (#PCDATA)>
<!ELEMENT param (name,type,position,default)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT postition (#PCDATA)>
<!ELEMENT default (#PCDATA)>
<!ELEMENT property (#PCDATA)>
