mcs/class/System.XML/Test/XmlFiles/xsd/358408.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="host">
          <xs:complexType>
            <xs:attribute name="auto-start" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="service-managers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="service-manager">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
