mcs/class/System.XML/Test/XmlFiles/xsd/584664b.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://b" xmlns="http://b" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:complexType name="base">
  <xs:sequence>
    <xs:element name="leaf" type="xs:string"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="derived">
  <xs:complexContent>
    <xs:extension base="base"/>
  </xs:complexContent>
</xs:complexType>

<xs:element name="root" type="derived"/>

</xs:schema>