mcs/class/System.XML/Test/XmlFiles/xsd/77687inc.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://go-mono.com/tests" xmlns="http://go-mono.com/tests"
elementFormDefault="qualified">
	<xs:element name="note">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="text" type="text-type"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="text-type">
		<xs:attribute name="foo"/>
	</xs:complexType>
</xs:schema>

