mcs/class/System.XML/Test/XmlFiles/xsd/79650.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="ModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="on" />
            <xs:enumeration value="off" />
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="test">
        <xs:complexType>
            <xs:sequence/>
            <xs:attribute name="mode" type="ModeType" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>
