mcs/class/System.XML/Test/XmlFiles/xsd/81360inc1.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3.org/1999/xhtml"
           xmlns="http://www.w3.org/1999/xhtml">

	<xs:group name="BlkStruct.class">
		<xs:choice>
			<xs:element ref="p"/>
			<xs:element ref="div"/>
		</xs:choice>
	</xs:group>


	<xs:group name="Flow.mix">
		<xs:choice>
			<xs:group ref="Block.class"/>
		</xs:choice>
	</xs:group>

	<xs:group name="Block.class">
		<xs:choice>
			<xs:group ref="BlkStruct.class"/>
		</xs:choice>
	</xs:group>

	<xs:group name="Block.mix">
		<xs:choice>
			<xs:group ref="Block.class"/>
		</xs:choice>
	</xs:group>

</xs:schema>
