mcs/class/System.XML/Test/XmlFiles/xsd/datatypesTest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:bar" targetNamespace="urn:bar">
  <xs:element name="e00">
    <xs:complexType>
    </xs:complexType>
  </xs:element>
  <xs:element name="e4" type="xs:string" />
  <xs:element name="e1" type="xs:normalizedString" />
  <xs:element name="e2" type="xs:token" />
  <xs:element name="e3" type="xs:language" />
</xs:schema>
