mcs/class/System.XML/Test/XmlFiles/xsd/xml.xsd

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.w3.org/XML/1998/namespace"
	attributeFormDefault="qualified"
>

<xs:attribute name="lang" type="xs:language" />

<xs:attribute name="space" default="preserve">
	<xs:simpleType>
		<xs:restriction base="xs:NCName">
			<xs:enumeration value="default" />
			<xs:enumeration value="preserve" />
		</xs:restriction>
	</xs:simpleType>
</xs:attribute>

<xs:attribute name="base" type="xs:anyURI" />

<xs:attributeGroup name="specialAttrs">
	<xs:attribute ref="xml:base" />
	<xs:attribute ref="xml:lang" />
	<xs:attribute ref="xml:space" />
</xs:attributeGroup>

</xs:schema>
