mcs/class/System.Data/Test/System.Data/schemas/test012.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
<!-- empty -->
<xs:element name='Foo' type='FooType' />

<!-- defining externally to avoid being reagarded as dataset element -->
<xs:complexType name='FooType'>
	<xs:sequence>
		<xs:element name='Bar' maxOccurs='2' />
	</xs:sequence>
</xs:complexType>
</xs:schema>
