mcs/class/System.Data/Test/System.Data/schemas/test014.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="x" maxOccurs="2" />
				<xsd:element ref="y" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="y" />
</xsd:schema>
