mcs/class/System.Data/Test/System.Data/schemas/test007.xsd

<!-- nested tables, root references to complex type -->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' targetNamespace='urn:foo' xmlns:x='urn:foo'>
<xs:element name='uno' type='x:t' />
<xs:complexType name='t'>
  <xs:sequence>
    <xs:element name='des'>
      <xs:complexType>
        <xs:sequence>
          <xs:element name='tres' />
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:sequence>
</xs:complexType>
</xs:schema>
