mcs/class/System.XML/Test/XmlFiles/XsdValidation/3.xsd

<xs:schema
	elementFormDefault="qualified"
	xmlns:xs='http://www.w3.org/2001/XMLSchema'
	xmlns="urn:foo"
	targetNamespace="urn:foo">

<xs:element name="root">
	<xs:complexType>
		<xs:sequence maxOccurs="2">
			<xs:element name="child1" />
			<xs:element name="child2" />
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
