mcs/class/System.XML/Test/XmlFiles/XsdValidation/4.xsd

<xs:schema
	elementFormDefault="qualified"
	xmlns:xs='http://www.w3.org/2001/XMLSchema'
	xmlns="urn:foo"
	targetNamespace="urn:foo">

<xs:element name="root">
	<xs:complexType>
		<xs:choice minOccurs="0" maxOccurs="2">
			<xs:element name="child1" />
			<xs:element name="child2" maxOccurs="2" />
		</xs:choice>
	</xs:complexType>
</xs:element>

</xs:schema>
