mcs/class/System.XML/Test/System.Xml/nist_dom/files/staff.dtd

<!ELEMENT employeeId (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT position (#PCDATA)>
<!ELEMENT salary (#PCDATA)>
<!ELEMENT gender (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT entElement (#PCDATA)>
<!ELEMENT employee (employeeId, name, position, salary, gender, address) >
<!ELEMENT staff (employee)+>
<!ATTLIST entElement 
          attr1 CDATA "Attr">
<!ATTLIST address
          domestic CDATA #IMPLIED
          street CDATA "Yes">
