mcs/class/System.Runtime.Serialization/Test/Resources/Schemas/ns10.xsd

<xs:schema targetNamespace="urn:bar" xmlns="urn:bar"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="E1" type="T1" />
  <xs:complexType name="T1">
    <xs:sequence>
      <xs:element name="c1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="E2" substitutionGroup="E1" />
</xs:schema>
