mcs/class/System.Runtime.Serialization/Test/Resources/Schemas/ns27.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:foo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:foo">
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="T1">
    <xs:sequence>
      <xs:element name="arr" type="tns:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="E1" type="tns:T1" />
</xs:schema>
