mcs/class/System.Runtime.Serialization/Test/Resources/Schemas/ns8.xsd

<xs:schema targetNamespace="urn:bar" xmlns="urn:bar" 
    elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="E2" type="T2" />
  <xs:complexType name="T2">
    <xs:simpleContent>
      <xs:restriction base="T1">
        <xs:enumeration value="v1" />
        <xs:enumeration value="v2" />
        <xs:enumeration value="v3" />
      </xs:restriction>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="T1">
    <xs:simpleContent>
      <xs:extension base="xs:string">
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
