mcs/class/System.Web.Services/Test/System.Web.Services.Description/test.wsdl

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:s="http://www.w3.org/2001/XMLSchema"
      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
      xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://tempuri.org/"
      name="HelloService" targetNamespace="http://tempuri.org/"
      xmlns="http://schemas.xmlsoap.org/wsdl/" sdAtt="sdVal">
  <sdElem>sdVal</sdElem>
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="HelloWorld">
        <xs:complexType/>
      </xs:element>
      <xs:element name="HelloWorldResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="string" type="xs:string"/>
    </xs:schema>
  </types>
  <message name="HelloWorldSoapIn" msgAtt="msgVal">
    <part name="parameters" element="s0:HelloWorld" partAtt="partVal">
	<partElem>partVal</partElem>
    </part>
    <msgElem>msgVal</msgElem>
  </message>
  <message name="HelloWorldSoapOut">
    <part name="parameters" element="s0:HelloWorldResponse"/>
  </message>
  <message name="HelloWorldHttpGetIn"/>
  <message name="HelloWorldHttpGetOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="HelloWorldHttpPostIn"/>
  <message name="HelloWorldHttpPostOut">
    <part name="Body" element="s0:string"/>
  </message>
  <portType name="HelloServiceSoap" ptAtt="ptVal">
    <operation name="HelloWorld" opAtt="opVal">
      <input message="s0:HelloWorldSoapIn" opmsgAtt="opmsgVal"/>
      <output message="s0:HelloWorldSoapOut"/>
      <opElem>opVal</opElem>
    </operation>
    <ptElem>ptVal</ptElem>
  </portType>
  <portType name="HelloServiceHttpGet">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpGetIn"/>
      <output message="s0:HelloWorldHttpGetOut"/>
    </operation>
  </portType>
  <portType name="HelloServiceHttpPost">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpPostIn"/>
      <output message="s0:HelloWorldHttpPostOut"/>
    </operation>
  </portType>
  <binding name="HelloServiceSoap" type="s0:HelloServiceSoap" binAtt="binVal">
    <binElem>binVal</binElem>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="HelloServiceHttpGet" type="s0:HelloServiceHttpGet">
    <http:binding verb="GET"/>
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <binding name="HelloServiceHttpPost" type="s0:HelloServiceHttpPost">
    <http:binding verb="POST"/>
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <service name="HelloService" svcAtt="svcVal">
    <port name="HelloServiceSoap" binding="s0:HelloServiceSoap" portAtt="portVal">
      <soap:address location="http://192.168.0.128:8080/simple.asmx"/>
      <portElem>portVal</portElem>
    </port>
    <port name="HelloServiceHttpGet" binding="s0:HelloServiceHttpGet">
      <http:address location="http://192.168.0.128:8080/simple.asmx"/>
    </port>
    <port name="HelloServiceHttpPost" binding="s0:HelloServiceHttpPost">
      <http:address location="http://192.168.0.128:8080/simple.asmx"/>
    </port>
    <svcElem>svcVal</svcElem>
  </service>
</definitions>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:s="http://www.w3.org/2001/XMLSchema"
      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
      xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://tempuri.org/"
      name="HelloService" targetNamespace="http://tempuri.org/"
      xmlns="http://schemas.xmlsoap.org/wsdl/" sdAtt="sdVal">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="HelloWorld">
        <xs:complexType/>
      </xs:element>
      <xs:element name="HelloWorldResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="string" type="xs:string"/>
    </xs:schema>
  </types>
  <message name="HelloWorldSoapIn" msgAtt="msgVal">
    <part name="parameters" element="s0:HelloWorld" partAtt="partVal"/>
  </message>
  <message name="HelloWorldSoapOut">
    <part name="parameters" element="s0:HelloWorldResponse"/>
  </message>
  <message name="HelloWorldHttpGetIn"/>
  <message name="HelloWorldHttpGetOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="HelloWorldHttpPostIn"/>
  <message name="HelloWorldHttpPostOut">
    <part name="Body" element="s0:string"/>
  </message>
  <portType name="HelloServiceSoap" ptAtt="ptVal">
    <operation name="HelloWorld" opAtt="opVal">
      <input message="s0:HelloWorldSoapIn" opmsgAtt="opmsgVal"/>
      <output message="s0:HelloWorldSoapOut"/>
    </operation>
  </portType>
  <portType name="HelloServiceHttpGet">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpGetIn"/>
      <output message="s0:HelloWorldHttpGetOut"/>
    </operation>
  </portType>
  <portType name="HelloServiceHttpPost">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpPostIn"/>
      <output message="s0:HelloWorldHttpPostOut"/>
    </operation>
  </portType>
  <binding name="HelloServiceSoap" type="s0:HelloServiceSoap" binAtt="binVal">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="HelloServiceHttpGet" type="s0:HelloServiceHttpGet">
    <http:binding verb="GET"/>
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <binding name="HelloServiceHttpPost" type="s0:HelloServiceHttpPost">
    <http:binding verb="POST"/>
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <service name="HelloService" svcAtt="svcVal">
    <port name="HelloServiceSoap" binding="s0:HelloServiceSoap" portAtt="portVal">
      <soap:address location="http://192.168.0.128:8080/simple.asmx"/>
    </port>
    <port name="HelloServiceHttpGet" binding="s0:HelloServiceHttpGet">
      <http:address location="http://192.168.0.128:8080/simple.asmx"/>
    </port>
    <port name="HelloServiceHttpPost" binding="s0:HelloServiceHttpPost">
      <http:address location="http://192.168.0.128:8080/simple.asmx"/>
    </port>
  </service>
</definitions>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:s="http://www.w3.org/2001/XMLSchema"
      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
      xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://tempuri.org/"
      name="HelloService" targetNamespace="http://tempuri.org/"
      xmlns="http://schemas.xmlsoap.org/wsdl/" sdAtt="sdVal">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="HelloWorld">
        <xs:complexType/>
      </xs:element>
      <xs:element name="HelloWorldResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="string" type="xs:string"/>
    </xs:schema>
  </types>
  <message name="HelloWorldSoapIn" msgAtt="msgVal">
    <part name="parameters" element="s0:HelloWorld" partAtt="partVal"/>
  </message>
  <message name="HelloWorldSoapOut">
    <part name="parameters" element="s0:HelloWorldResponse"/>
  </message>
  <message name="HelloWorldHttpGetIn"/>
  <message name="HelloWorldHttpGetOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="HelloWorldHttpPostIn"/>
  <message name="HelloWorldHttpPostOut">
    <part name="Body" element="s0:string"/>
  </message>
  <portType name="HelloServiceSoap" ptAtt="ptVal">
    <operation name="HelloWorld" opAtt="opVal">
      <input message="s0:HelloWorldSoapIn" opmsgAtt="opmsgVal"/>
      <output message="s0:HelloWorldSoapOut"/>
    </operation>
  </portType>
  <portType name="HelloServiceHttpGet">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpGetIn"/>
      <output message="s0:HelloWorldHttpGetOut"/>
    </operation>
  </portType>
  <portType name="HelloServiceHttpPost">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpPostIn"/>
      <output message="s0:HelloWorldHttpPostOut"/>
    </operation>
  </portType>
  <binding name="HelloServiceSoap" type="s0:HelloServiceSoap" binAtt="binVal">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="HelloServiceHttpGet" type="s0:HelloServiceHttpGet">
    <http:binding verb="GET"/>
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <binding name="HelloServiceHttpPost" type="s0:HelloServiceHttpPost">
    <http:binding verb="POST"/>
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <service name="HelloService" svcAtt="svcVal">
    <port name="HelloServiceSoap" binding="s0:HelloServiceSoap" portAtt="portVal">
      <soap:address location="http://192.168.0.128:8080/simple.asmx"/>
    </port>
    <port name="HelloServiceHttpGet" binding="s0:HelloServiceHttpGet">
      <http:address location="http://192.168.0.128:8080/simple.asmx"/>
    </port>
    <port name="HelloServiceHttpPost" binding="s0:HelloServiceHttpPost">
      <http:address location="http://192.168.0.128:8080/simple.asmx"/>
    </port>
  </service>
</definitions>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
      xmlns:s="http://www.w3.org/2001/XMLSchema"
      xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
      xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
      xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://tempuri.org/"
      name="HelloService" targetNamespace="http://tempuri.org/"
      xmlns="http://schemas.xmlsoap.org/wsdl/" sdAtt="sdVal">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="HelloWorld">
        <xs:complexType/>
      </xs:element>
      <xs:element name="HelloWorldResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="string" type="xs:string"/>
    </xs:schema>
  </types>
  <message name="HelloWorldSoapIn" msgAtt="msgVal">
    <part name="parameters" element="s0:HelloWorld" partAtt="partVal"/>
  </message>
  <message name="HelloWorldSoapOut">
    <part name="parameters" element="s0:HelloWorldResponse"/>
  </message>
  <message name="HelloWorldHttpGetIn"/>
  <message name="HelloWorldHttpGetOut">
    <part name="Body" element="s0:string"/>
  </message>
  <message name="HelloWorldHttpPostIn"/>
  <message name="HelloWorldHttpPostOut">
    <part name="Body" element="s0:string"/>
  </message>
  <portType name="HelloServiceSoap" ptAtt="ptVal">
    <operation name="HelloWorld" opAtt="opVal">
      <input message="s0:HelloWorldSoapIn" opmsgAtt="opmsgVal"/>
      <output message="s0:HelloWorldSoapOut"/>
    </operation>
  </portType>
  <portType name="HelloServiceHttpGet">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpGetIn"/>
      <output message="s0:HelloWorldHttpGetOut"/>
    </operation>
  </portType>
  <portType name="HelloServiceHttpPost">
    <operation name="HelloWorld">
      <input message="s0:HelloWorldHttpPostIn"/>
      <output message="s0:HelloWorldHttpPostOut"/>
    </operation>
  </portType>
  <binding name="HelloServiceSoap" type="s0:HelloServiceSoap" binAtt="binVal">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="HelloServiceHttpGet" type="s0:HelloServiceHttpGet">
    <http:binding verb="GET"/>
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld"/>
      <input>
        <http:urlEncoded/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <binding name="HelloServiceHttpPost" type="s0:HelloServiceHttpPost">
    <http:binding verb="POST"/>
    <operation name="HelloWorld">
      <http:operation location="/HelloWorld"/>
      <input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:mimeXml part="Body"/>
      </output>
    </operation>
  </binding>
  <service name="HelloService" svcAtt="svcVal">
    <port name="HelloServiceSoap" binding="s0:HelloServiceSoap" portAtt="portVal">
      <soap:address location="http://192.168.0.128:8080/simple.asmx"/>
    </port>
    <port name="HelloServiceHttpGet" binding="s0:HelloServiceHttpGet">
      <http:address location="http://192.168.0.128:8080/simple.asmx"/>
    </port>
    <port name="HelloServiceHttpPost" binding="s0:HelloServiceHttpPost">
      <http:address location="http://192.168.0.128:8080/simple.asmx"/>
    </port>
  </service>
</definitions>
